{% extends "base.html" %}
{% block head %}
<style>
 .display-area {
     border: 10px solid lightblue;
     border-radius: 5px;
     width: 97%;
     height: 500px;
     margin: auto;
     background-color: sandybrown;
 }
 .test-camper {
     background-color: salmon;
     border: 4px solid darksalmon;
     margin: auto;
 }
</style>



<html>
    <template class="template-1">
	<h1>author</h1>
	<h2>timestamp</h2>
	<h3>id</h3>
	<p>content</p>
    </template>
    
    <div class="control-panel">
	<button class="load-button-1">press to load</button>
	
	<form class="content-form" action="/api/comment/submit" method="post" id="cf1">
	    <textarea class="cf-input" name="content"></textarea>
	    <input type="hidden" name="parent_id" value="666">
	    <input class="cf-submit" type="submit" value="post comment" onsubmit="postCommentHandler">
	</form>
	<div class="display-area" id="display-area">
	    <div class="test-camper">
		<h3>test camper</h3>
		<p class="test-camper-bunk" id="tcb-1">I should become text</p>
	    </div>
	    <!-- INSERT CONTENT HERE -->
	</div>

    </div>    
</html>



<script>
 /* const form = document.querySelector(".content-form");
  * form.addEventListener("submit", postCommentHandler);
  */
 var tc = document.getElementById('tcb-1');
 tc.innerHTML = "all systems gone";
 console.log(tc);



 async function ajaxifyForm(event) {
     /* AJAXIFY FORM
	Overrides form behavior and returns json.  For consumption
	by appropriately crafted API endpoints (that return json in response to a post)

	to apply to a form, select the form like so:

	const form = document.querySelector(".content-form");
	form.addEventListener("submit", postCommentHandler);

	(it may also be possible to use the pattern onsubmit="ajaxifyForm" in the html tag)
	
	this should override the form's native behavior and return 
	a json response from the submit comment api that represents
	the inserted comment, for use in ajax updating of the page.

	Because some jerk wrote a dumb spec, we also need to 'grab'
	the return of this function in another async function that 
	awaits it's value, because it would make too much sense
	to have a function that resolves promises by itself. See 
	boilerplate fix-for-dumb-laguage-quirk #284403319 below

	async function postCommentHandler(event) {
	    const comment = await ajaxifyForm(event);
	    console.log("you may do things with comment here.");
	}

	NOTE: This may be used anywhere we require turning a form 
	into an ajax call!
      */
     
     /* we don't want the usual behaviors (like reloading the page) */
     event.preventDefault();

     /* get the form, then populate a new FormData from it. */
     var form = event.target;
     var formData = new FormData(form);

     /* where is this form sending data? */
     var url = form.action;

     /* submit the request. Careful modifying this - it was the source of many a headache. */
     const res = await fetch(url, {
	 method : 'POST',
	 mode: 'cors',
	 credentials: 'same-origin',
	 cache : "no-cache",
	 referrerPolicy: 'no-referrer',
	 redirect: 'follow',
	 body: formData,
     });

     /* check for errors and be loud about them */
     if (!res.ok) {
	 alert("bad request");  /* change me to log */
	 const message = "bad response: ${res.status}";
	 throw new Error(message);
     }

     /* return. this second await may or may not be surpurflous. idc.  */
     const results = await res.json();
     return results;
 }
 
 function createComment(comment) {
     /* TODO: we need to bubble parent_id into here somehow */

     /* check if browser supports templates */
     if ('content' in document.createElement('template')) {
	 /* grab the comment template and inject comment data */
	 var template = document.querySelector('.template-1');
	 var clone = template.content.cloneNode(true);
	 clone.querySelector("h1").innerHTML = comment.author;
	 clone.querySelector("h2").innerHTML = comment.timestamp;
	 clone.querySelector("h3").innerHTML = comment.id;
	 clone.querySelector("p").innerHTML = comment.content;
     } else {
	 var clone = "<h1 color='red'>IT DID NOT CLONE GUD</p>";
	 const message = "It appears as if this browser does not support templates.";
	 throw new Error(message);
     }
     return clone;
 }


 async function postCommentHandler(event) {
     /* send comment and retrieve json representation */
     const comment = await ajaxifyForm(event);

     /* CHANGE ME TO RETRIEVE THE CORRECT ELEMENT */
     var commentArea = document.getElementById("display-area");

     var realCommentArea = event.target.parentElement.querySelector('.comment-child-area');

     var template = createComment(comment);
     realCommentArea.appendChild(template);
 }

 /* PREVIOUS CODE HAS BEEN TESTED AND WORKS */
 
</script>

{% endblock %}


