@import url("vars.css");
.comment-area {
    margin: 0 0 0 0;
    /* background-image: linear-gradient(90deg, #98CD8D 5%, #F6F0CF 5%, #F6F0CF 25%, #ed0c0c 25%, #ed0c0c 30%, #f6f0cf 30%, #f6f0cf 50%, #98CD8D 50%, #98CD8D 55%, #F6F0CF 55%, #F6F0CF 75%, #ed0c0c 75%, #ed0c0c 80%, #f6f0cf 80%, #f6f0cf 100%);
	    background-size: 60.00px 60.00px; */
}


/* .comment-content:before {
    transform-origin: 0;
    content: "^==>==>==//=>";
    display: block;
    position: absolute;
    left: -10px;
    top: -1px;
    transform: rotate(90deg);
    } */
.comment {
    position: relative;
    width: calc(100% - 10px);
    margin: 0 0 0 auto;
}

.comment-header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 25px;
}
.comment-at-box {
    display: inline-flex;
    position: relative;
}
.comment-timestamp {
    margin: auto 5px;
}
.comment-timestamp::after {
    content: " ::";
}
.comment-author {
    margin: auto 5px;
}
.comment-id {
    margin: auto 5px;
}

.comment-body {
    background-color: var(--bg-1);
    border-radius: 5px;
    padding: 0px 5px 10px;
}
.comment-form {
    width: 100%;
}
.comment-content {
    color: var(--text-1-d);
}
.comment-reply-area {
    display: none;
    width: 100%;
}
.comment-reply-button {
    position: relative;
    bottom: 0px;
    right: 0px;
    height: 20px;
    width: 50px;
}
.comment-form-textarea {
    font: var(--font-body);
    position: relative;
    min-height: 50px;
    width: 100%;
    color: var(--text-1-d);
    background-color: var(--bg-1);
    border: solid 5px var(--bg-1);
    border-radius: 5px;
}
 /* Vote Block */
 .comment-at-vote-box {
     display: inline-block;
     wrap: nowrap;
     top: -10px;
     left: -18px;
     position: relative;
     transform: rotate(90deg);
 }
 .comment-at-vote-box > button {
     font-size: 10px;
 }
 .upvote {
     position: absolute;
     top: 0;
     margin: 0;
     padding: 0;
     border: solid 1px var(--text-1-p);
     font: var(--font-menu);
 }
 .downvote {
     position:absolute;
     left: 15px;
     margin: 0;
     padding: 0;
     border: solid 1px var(--text-1-p);
     font: var(--font-menu);
 }

