.index-container {
    align-items: center;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    display: inline-flex;
    width: 100%;
}

.link-section {
    width: calc(50% - 10px); 
    display: inline-block;
}

.rfc-section {
    width: calc(50% - 10px); 
    display: inline-block;
}

.d-flex {
    height: 2px;
    width: 100%;
    position: relative;
    bottom: 0;
}
