@import url("vars.css");
@import url("comment.css");
@import url("index.css");
@import url("alt.css");

body {
    margin: 15px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: inherit; */
    /* vertical-align: baseline; */
}

select, option {
    width: 90%;
    font: var(--font-menu);
    background-color: var(--text-1-p);
    color: var(--bg-1);
}

/* .link-buffer-selector { */
/*     font: var(--font-menu); */
/* } */

button {
    font: var(--font-menu);
    color: var(--bg-1);
    background-color: var(--text-1-p);
    border: solid 2px var(--text-1-p);
    border-radius: 2px;
}

.comment-form-submit {
    font: var(--font-menu);
    color: var(--bg-1);
    background-color: var(--text-1-p);
    border: solid 2px var(--text-1-p);
    border-radius: 2px;   
}
h1, h2, h3, h4 {
    font: var(--font-head);
    color: var(--text-1-p);
}
h1 {
    font-size: 2em;
}
p { 
    font: var(--font-body); 
}

.header {
    background-color: var(--bg-1);
    color: var(--text-1-l);
}
.header h1 {
    color: var(--text-1-p);
}
.header h3 {
    color: var(--text-1-p);
}
.header h4 {
    color: var(--text-1-p);
}
.header p {
    color: var(--text-1-d);
}
.rfc-buffer {
    position: relative;
    width: 98%;
    margin: auto;
}

.headtext {
    color: var(--text-1-p);
}
