:root {
    --font-body: 15px "Fira Code Light", sans-serif;
    --font-head: 25px "Fira Code Retina", sans-serif;
    --font-menu: 12px "Fira Code Retina", sans-serif;
	
    --scheme-bg-1: #e9f6ff;
    --scheme-text-1-l: #592296;
    --scheme-text-2-d:;
    --scheme-text-2-p:;

    --bg-1:#e9f6ff;
    --text-1-l:#DDDDDD;
    --text-1-d:#592296;
    --text-1-p:#f48700;

    --bg-2:#fff8e9;
    --text-2-l:#DDDDDD;
    --text-2-d:#DDDDDD;
    --text-2-p:#DDDDDD;
}
