<!DOCTYPE html>
<!-- following the advice here: https://pythonise.com/categories/javascript/infinite-lazy-loading -->
<html>
    <head>
	
    </head>
    <body>
	<h1>It's working!</h1>
    </body>
    <select class="link-buffer-selector">
	{% for stream in streams %}
	<option value="stream.id">{{ stream.name }}</option>
	{% endfor %}
    </select>
    <div class="link-buffer">
	
	<div class="link-placeholder">
	    <h3 class="link-url-header">link.url</h3>
	    <p class="link-domain">link.domain</p>
	    <p class="link-streamname">link.stream_name</p>
	    <ul class="link-tags">tag for tag in link.tags</ul>
	    <p class="link-messageid">link.message_id</p>
	    <p class="link-description">link.description</p>
	    <div class="link-comment-section">
		<div class="link-comment-section-add-comment">
		    <h4>here, I want people to be able to comment on a shared link</h4>
		</div>
	    </div>
	</div>
    </div>
    <h2 class="rfc-header-title">Request For Comments</h2>
    <p class="rfc-header-greeting">I know, I know, it's not pretty.  I didn't want to waste valuable time dolling it up at the cost of not having it available for you guys to look at, because I want the development of this platform to be as democratic as possible.  I extend the heartiest of invitations to comment, critique, make suggestions, anything.  There are no bad ideas.  My intent is that we collectively use this site as a vehilcle to help future batches (and, if we do it right, benefit from easy access to their contributions) and a way for all recursers; past, present, and future, to share the juiciest and most fascinating things they come across.  The links are just here to start the conversation - what would <bold>you</bold> like to tell the world?</p>
    <div class="rfc-buffer">
	<div class="comment-input">
	    <p class="comment-input-cta">Let's talk about it!</p>
	    <textarea class="comment-input-text"></textarea>
	    <button class="comment-input-submit">submit</button>
	</div>
	<div class="comment-placeholder">
	    <h3 class="comment-username">comment.username</h3>
	    <p class="comment-timestamp">comment.timestamp</p>
	    <p class="comment-body">comment.body</p>
	    <div class="comment-children-comments">
		<h4>place comment tree here</h4>
	    </div>
	</div>
    </div>
    <div class="d-flex justify-content-center mb-3" id="sentinel">
	<div class="spinner-border" role="status"></div>
    </div>
</html>
