<!DOCTYPE html>
<html>
    <head>
	
    </head>
    <body>
	<h1>Link Page</h1>
	<p>This is going to be the page where you view an entry (at the moment, links are the only entries.)  There will be a comment section where all can freely discuss the contents of the linked material, and vote on a link description, which will show up next to the link in the preview pane on the main page.  You can also discuss editing and organization, if it belongs somewhere else (or in multiple places.)</p>
    </body>
</html>
