{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="link-view">
    <div class="link-view-body">
	<h3><a href="{{link.url}}">{{ link.url }}</a></h3>
	<a href="recurse.zulipchat.com/#narrow/stream/{{ link.stream_id }}">{{ link.stream_name }}</a>
	<a href="http://recurse.zulipchat.com/#narrow/streams/public/id/{{ link.message_id }}">zulip context</a>
	<p class="link-view-description">{{ link.description }}</p>
	<ul class="link-view-tags">
	    {% for tag in tags %}
	    <li class="link-view-tag-item">[ {{ tag.count }} ]:{{ tag.name }}</li>
	    {% endfor %}
	</ul>
	
    </div>
    <!-- This is broken.  I think it might be broken in the macro for "comment_input", so
	 I'm replacing it with a macro.comment, but that might need to be rolled back.  I no longer
	 understand what the hell all this javascript is doing, so I should comment as I go through-->
    <div class="link-view-add-root-comment comment-child-area">
	{{ macro.add_root_comment(link.id) }}
    </div>
    
    <div class="display-area link-view-comments" id="display-area">


	{% for comment in root_comments %}
	
		{{ macro.comment(content=comment.content, author=comment.author, id=comment.id,) }}  <!-- is this the right macro? It seems to work, kind of, but it needs data to be stable. -->

	{% endfor %}
	
    </div>
</div>

<script>
 const form = document.queryselector(".root-comment-form");
 form.addEventListener("submit", postCommentHandler);
</script>
{% endblock %}
