:root {
    --color-1: #594F4F;
    --color-2: #547980;
    --color-3: #45ADA8;
    --color-4: #9DE0AD;
    --color-5: #E5FCC2;
    --text-color-1: white;
}
.comment-area {
    width: 95%;
    align-self: center;
    align-content: center;
    justify-content: center;
    margin: auto;
}
.comment {
    width: 95%;
    margin: auto;
}


.comment-header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 25px;
    
}
.comment-at-box {
    display: inline-flex;
}
.comment-timestamp {
    margin: auto 5px;
}
.comment-author {
    margin: auto 5px;
}
.comment-id {
    margin: auto 5px;
}
.headtext {
    color: var(--text-color-1);
}


.comment-body {
    background-color: var(--color-3);
    border-radius: 5px;
    padding: 0px 5px 10px;
}
.comment-form {
    display: none;
    width: 100%;
}
.comment-content {
    color: white;
    background-color: 
}
.comment-reply-area {
    display: inline-flex;
    width: 100%;
}
.comment-reply-button {
    position: relative;
    top: -20px;
    height: 20px;
    width: 50px;
    color: var(--color-`);
    background-color: var(--color-4);
    border: solid 2px var(--color-4);
    border-radius: 2px;
}
.comment-form-textarea {
    position: relative;
    left: -47px;
    min-height: 50px;
    min-width: 100%;
    max-width: 100%;
    background-color: var(--color-5);
    border: solid 5px var(--color-3);
    border-radius: 5px;
}
.comment-form-submit {
    color: var(--color-`);
    background-color: var(--color-4);
    border: solid 2px var(--color-4);
    border-radius: 2px;
}
